/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,*::before,*::after{
    box-sizing: border-box;
}

img {
    vertical-align: middle;
}

/* ------------------------ */
html {
    font-size: 62.5%;
}

body {
    font-family: 'Bruno Ace SC', cursive;
    line-height: 2.4rem;
}

a {
    text-decoration: none;
}

.container {
    max-width: 129.6rem;
    margin: 0 auto;
}

.btn {
    padding: 1.2rem 2.4rem;
    border-radius: 3.2rem;
    font-size: 1.6rem;
    line-height: 2.4rem;
}

nav {
    background-color: #000;
}

nav ul {
    padding-top: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
    line-height: 2.4rem;
}

nav a {
    color:rgba(209, 209, 209, 1);
    transition: .2s;
}

nav a:hover {
    color: #fff;
}

.bg-black {
    background-color: #000;
}

.bg-black .container {
    display: flex;
    padding: 7.2rem 0;
    align-items: center;
}

.bg-black .selfPic {
    width: 50%;
    margin-right: 1.4rem;
}

.bg-black .greet {
    display: flex;
    flex-direction: column;
}

.bg-black .greet p{
    font-size: 6.4rem;
    line-height: 9.6rem;
    color: #fff;
}

h1 {
    color:#00FFA3;
    font-size: 12.8rem;
    line-height: 19.2rem;
    text-align: end;
}

.bg-black .greet a {
    color: #000;
    background-color: #fff;
    align-self: flex-end;
    transition: .2s;
}

.bg-black .greet a:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.5);
}

.bg-ocean {
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/background-img.png?raw=true);
}

.bg-ocean .container {
    display: flex;
    padding: 16rem 0;
}

.bg-ocean .intro {
    font-size: 2.4rem;
    line-height: 3.6rem;
    color: #fff;
    width: 52.6rem;
}

h2 {
    font-size: 6.4rem;
    line-height: 9.6rem;
    margin-bottom: 3.6rem;
}

.bg-ocean .intro p {
    margin-bottom: 3.2rem ;
}

.bg-ocean .photos img {
    height: 60rem;;
    margin-left: 2.4rem;
}

.bg-ocean .photos .img-sm {
    width: 25%;
}

.about-me .container {
    display: flex;
    padding: 16rem 0;
}

.about-me ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 63.6rem;
    margin-right: 13.4rem;
}

.about-me li {
    border: 1px solid #E3E3E3;
    width: 48%;
    padding: 1.6rem;
    margin: 1.2rem 0;
    font-size: 1.6rem;
    line-height: 2.4rem;
}

h3 {
    font-size: 2rem;
    line-height: 3rem;
}

.about-me .about-content {
    width: 52.6rem;
    font-size: 2.4rem;
    line-height: 3.6rem;
}

.bg-linear {
    background: linear-gradient(rgba(5, 0, 20, 1), rgba(1, 2, 30, 0.89));
}

.bg-linear .container {
    padding: 9.6rem 0;
    display: flex;
    align-items: center;
}

.bg-linear h2 {
    color: #fff;
    margin-bottom: 0;
    margin-right: 7.3rem;
    line-height: 0;
}

.bg-linear ul {
    display: flex;
    align-items: center;
    width: 42%;
}

.bg-linear li {
    width: 16.2rem;
    height: 16.2rem;
    margin-left: 2rem;
    box-shadow: none;
}

.bg-linear li a {
    display: block;
    box-shadow: none;
    transition: .2s;
}

.bg-linear li a:hover {
    box-shadow: 0 0 1.6rem rgba(144, 148, 255, 0.9);
    border-radius: 4rem;
}

.my-project .container {
    padding: 16rem 0;
}

.my-project h2 {
    margin-bottom: 1.6rem;
    padding-left: 55rem;
}

.my-project .pictures {
    display: flex;
}

.my-project .pictures .pic-combine {
    width: 66%;
}

.my-project .pictures img {
    margin-right: 2.4rem;
}

.my-project .pic-combine .has-link {
    display: flex;
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin-bottom: 2.8rem;
}

.my-project .pic-combine .has-link img {
    width: auto;
}

.my-project .link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.my-project .link a {
    color:#fff;
    background-color: #000;
    align-self: flex-start;
    transition: .2s;
}

.my-project .link a:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
}

.my-project .no-link {
    display: flex;
}

.my-project .pictures .no-link img {
    width: 100%;
}

footer {
    font-size: 1.6rem;
    line-height: 2.4rem;
    background: #000;
    color: #fff;
    padding: 4rem 0;
    text-align: center;
}